/* style.css                */
/* @Author:    Luca Grasso  */
/****************************/

.btn {
    -fx-text-fill: #333333;
    -fx-border-radius: 50px;
    -fx-font-family: Georgia;
    -fx-color: red;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-pref-width: 100;
    -fx-pref-height: 35;
    -fx-background-color: #FFE08A;
}

.btn:hover {
    -fx-text-fill: #C8A955;
}

#character-view {
    -fx-pre-width: 240;
    -fx-fit-to-height: 500;
    -fx-pref-height: 500;
}



