/* Character.css            */
/* @Author:    Luca Grasso  */
/****************************/


/*.button{*/
/*    -fx-text-fill: #333333;*/
/*    -fx-border-radius: 100;*/
/*    -fx-font-family: Georgia;*/
/*    -fx-font-size: 14;*/
/*    -fx-font-weight: bold;*/
/*    -fx-pref-width: 100;*/
/*    -fx-pref-height: 35;*/
/*    -fx-background-color: #FFE08A;*/
/*    */
/*}*/

#start-button {
    -fx-font : bold 18pt "serief";
    -fx-background-color : rgb(120,190,201);
}

#background-pane{
    -fx-background-image: url("../img/characterpage.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center;
}