/* 01_LoginPage.css            */
/* @Author:    Luca Grasso  */
/****************************/

#gridLogin {
    -fx-background-image: url("../img/backgroundLogin.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

#isOnRectangle {
    -fx-fill: #29a40d;
}

#isOffRectangle {
    -fx-fill: #b12323;
}


#registrationOption {
    -fx-font-family: Georgia;
    -fx-font-size: 10;
    -fx-font-weight: bold;
}

#maleRbtn {
    -fx-font-family: Georgia;
    -fx-font-size: 10;
    -fx-font-weight: bold;
}

#femaleRbtn {
    -fx-font-family: Georgia;
    -fx-font-size: 10;
    -fx-font-weight: bold;
}

#fluidRbtn {
    -fx-font-family: Georgia;
    -fx-font-size: 10;
    -fx-font-weight: bold;
}





