/* 02_LaunchPage.css            */
/* @Author:    Luca Grasso  */
/****************************/

#background-pane{
    -fx-background-image: url("../img/launchpage.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center;
}